{% extends 'base.html.twig' %}


{% block stylesheets %}
    <style>
        .wrapper {
            width: 800px;
            margin: 10px auto;
            padding: 20px;
        }
        .restaurant-img {
            width: 100px;
            height: 100px;
            overflow: hidden;
            text-align: center;
            border-radius: 50%;
            float: left;
            margin: 20px;
        }
        .foods {
            clear: both;
            display: flex;
            flex-flow: row wrap;
            justify-content: left;
        }
        .food {
            width: 200px;
            margin: 10px 20px;
            text-align: center;
        }
        .food p:last-child {
            text-align: right;
        }
    </style>
{% endblock %}
{% block body %}

    <div class="wrapper">
        <a href="{{ path('homepage') }}" style="font-size: 18px; color: darkblue">На главную</a>
        <div class="restaurant-img">
            <img src="{{ vich_uploader_asset(restaurant, 'imageFile') }}" alt="sada" height="100">
        </div>
        <div class="description" style="word-wrap: break-word; margin: 20px 100px;">
            <p>{{ restaurant.description }}</p>
        </div>
        <div class="foods">
            {% for food in restaurant.foods %}
                <div class="food">
                    <img src="{{ vich_uploader_asset(food, 'imageFile') }}" alt="" width="200">
                    <p style="margin: 3px">{{ food.name }}</p>
                    <p style="margin: 5px; color: gray; font-size: 14px">{{ food.price }} сомов</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

