{% extends 'base.html.twig' %}

{% block title %}Закажи еду{% endblock %}
{% block stylesheets %}
    <style>
        .wrapper {
            width: 600px;
            margin: 10px auto;
            padding: 20px;
            text-align: center;
        }
        h1 a {
            text-decoration: none;
            color: black;
        }
        h1 a:hover {
            text-decoration: underline;
        }
        .foods {
            padding: 20px;
            clear: both;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
        }
        .food {
            width: 200px;
            margin: 10px 20px;
            text-align: center;
        }
        .food p:last-child {
            text-align: right;
        }
    </style>
{% endblock %}
{% block body %}
   <div class="wrapper">
       {% for place in places %}
            <div style="margin: 50px 0">
                <h1>
                    <a href="{{ path('details',  {'id' : place.restaurant.id }) }}" >{{ place.restaurant.name }}
                    </a>
                </h1>
                <div style="width: 400px; word-wrap: break-word; margin: 0 auto">{{ place.restaurant.description }}</div>
                <img src="{{ vich_uploader_asset(place.restaurant, 'imageFile') }}" width="400">
                <h2 style="color: #ff002b; font-size: 20px">Самые популярные блюда:</h2>
                <div class="foods">
                    {% for food in place.foods %}
                        <div class="food">
                            <img src="{{ vich_uploader_asset(food.food, 'imageFile') }}" alt="" width="200">
                            <p style="margin: 3px">{{ food.food.name }}</p>
                            <p style="margin: 5px; color: gray; font-size: 14px">{{ food.food.price }} сомов</p>
                            <span style="font-size: 12px">
                                <strong style="font-size: 14px">{{ food.amount }}</strong> покупок за последний год
                            </span>
                        </div>
                    {% endfor %}
                </div>
                <hr>
            </div>
       {% endfor %}
   </div>
{% endblock %}
